.answer {
  @extend .button;
  cursor: pointer;
  width: 100%;

  @media #{$tablet-and-desktop} {
    width: $answer-width;
  }

  &.selected {
    color: $color-white;
    background-color: $color-blue;

    > .answer-example {
      color: $color-light-grey;
    }
  }

  &-example {
    color: $color-dark-grey;
    font-size: $font-size-small;

    @media #{$tablet-and-desktop} {
      display: inline-block;
      vertical-align: text-bottom;
      margin-left: $base-spacer*2;
    }
  }
}