.answer {
  margin-top: 5px;
  margin-bottom: 13px;
  box-sizing: border-box;
  border: $button-border; 
  cursor: pointer;

  &:hover {
    box-shadow: $link-box-shadow;
  }
  
  &.selected {
    color: $color-white;
    background-color: $color-blue;
    
    > .answer-example {
      color: $color-light-grey;
    }
  }

  &-text {
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: $font-size-medium;
  }

  &-example {
    color: $color-dark-grey;
    margin-left: 20px;
    font-size: $font-size-small;
  }
}