.button {
  font-size: $font-size-medium;
  box-sizing: border-box;
  margin-top: $base-spacer;
  padding: 2px $base-spacer;
  border: $button-border;
  border-radius: 0;
  background-color: $color-white;

  &:hover {
    box-shadow: $link-box-shadow;
  }

  &:focus {
    outline: none;
  }

  &-large {
    min-width: 200px;
  }
}