.question {
  padding-top: 35px;
  font-family: $font-family-semi-bold, $font-family-regular, $font-family-default;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-normal;
  color: $color-black;

  > h3 {
    line-height: $line-height-default;
  }

  &-panel {
    padding-left: 50px;
    width: 100%;
  }
}