$question-padding: $base-spacer*3;

.question {
  padding-top: $question-padding;
  font-family: $font-family-semi-bold, $font-family-regular, $font-family-default;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-normal;
  color: $color-black;

  > h3 {
    line-height: $line-height-default;
  }

  &-panel {
    @media #{$tablet-and-desktop} {
      padding-left: $question-padding;
    }
  }
}