.step-header {
  margin: $base-spacer $base-spacer*2;

  &-number {
    font-weight: $font-weight-semi-bold;
  }

  &-title {
    display: inline-block;
  }

  .checkmark-icon {
    float: right;
  }
}