.step-header {
  margin: $base-spacer;

  &-question {
    line-height: $line-height-default;
  }

  &-number {
    font-weight: $font-weight-semi-bold;
  }

  &-title {
    display: inline-block;
    width: 80%;
  }

  .checkmark-icon {
    vertical-align: top;
    text-align: right;
    width: 20%;

    .icon-text {
      display: none;

      @media #{$tablet-and-desktop} {
        display: inline-block;
      }
    }
  }
}