$sticky-header-padding: 10px;

.sticky-header {
  background-color: $color-white;
  border-bottom: 1px solid $color-light-grey;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: $sticky-header-padding;

  &-left {
    display: inline-block;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 4px solid $color-green;
  }

  &-right {
    display: inline-block;
  }

  &-logo {
    height: $sticky-header-height - 2*$sticky-header-padding;
  }

  &-title {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-medium;
  }
}