.sticky-header {
  background-color: $color-white;
  border-bottom: 1px solid $color-light-grey;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: $sticky-header-padding;

  &-left {
    padding-right: $base-spacer*3;
    margin-right: $base-spacer*3;

    @media #{$tablet-and-desktop} {
      border-right: 4px solid $color-green;
      display: inline-block;
    }
  }

  &-right {
    height: $sticky-header-title-mobile-height;

    h1 {
      display: inline;
    }

    @media #{$tablet-and-desktop} {
      display: inline-block;

      h1 {
        display: block;
      }
    }
  }

  &-logo {
    height: $sticky-header-logo-height;

    @media #{$tablet-and-desktop} {
      height: $sticky-header-logo-mobile-height;
    }
  }

  &-title {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-normal;

    @media #{$tablet-and-desktop} {
      font-size: $font-size-medium;
    }
  }
}