.design-system {
  &-panel {
    padding: 20px;
    border-bottom: 1px solid $color-grey;

    &:last-child {
      border-bottom: none;
      padding: 20px 20px 0 20px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }
}