.design-system {
  &-panel {
    padding: $base-spacer*2;
    border-bottom: 1px solid $color-grey;

    &:last-child {
      border-bottom: none;
      padding: $base-spacer*2 $base-spacer*2 0 $base-spacer*2;
    }
  }

  h2 {
    margin-bottom: $base-spacer*2;
  }
}