/* This file is for common styles across HTML types or shared classes */

html {
  font-family: $font-family-default;
  line-height: $line-height-default;
  color: $color-black;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1, h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

h3, h4 {
  font-weight: $font-weight-semi-bold;
}

strong {
  font-weight: $font-weight-bold;
}

.text-large {
  font-size: $font-size-large;
}

.divider {
  box-shadow: 0px 0.7px 0px 0px $color-light-grey;

  &-dotted {
    border-top: 1.5px dashed $color-light-grey;
    margin-top: $base-spacer*2;
    margin-bottom: $base-spacer*2;
  }
}

.form-actions {
  text-align: right;
  margin: $base-spacer*3 0;
}

.container--question-width {
  display: block;
  width: 100%;

  @media #{$tablet-and-desktop} {
    width: $answer-width + $question-padding;
    padding-left: $question-padding;
  }
}