// Colors
$color-blue: #004B87;
$color-green: #009933;
$color-orange: #FF9933;
$color-red: #FF3333;
$color-white: #FFFFFF;
$color-light-grey: #CCCCCC;
$color-grey: #999999;
$color-dark-grey: #333333;
$color-black: #000000;

// Fonts
$font-family-default: 'Open Sans';
$font-family-semi-bold: 'Open Sans SemiBold';
$font-family-regular: 'Open Sans Regular';

$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;

// Borders
$link-box-shadow: 0 0 0 2px $color-blue inset;
$button-border: 2px solid $color-blue;

// Sizing
$base-spacer: 10px;
$answer-width: 600px;

// Media queries
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet-and-desktop: "(min-width: 768px)";

// Sticky header
$sticky-header-padding: $base-spacer;
$sticky-header-title-mobile-height: 30px;
$sticky-header-logo-height: 65px;
$sticky-header-logo-mobile-height: 55px;
$sticky-header-height: $sticky-header-logo-height + $sticky-header-padding;
$sticky-header-mobile-height: $sticky-header-logo-mobile-height + 3*$sticky-header-padding + $sticky-header-title-mobile-height;

// Other
$line-height-default: 28px;

