.step-content {
    max-width: 50%;
    word-wrap: break-word;
}

#step {
    font-family: 'Open Sans SemiBold', 'Open Sans Regular', 'Open Sans';
    font-weight: 500;
}

#desc {
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    font-weight: 700;
}

.qas {
    margin-left: 76px;
    margin-right: 10px;
    font-style: normal;
}

.qas-question {
    margin-top: 37px;
    font-family: 'Open Sans SemiBold', 'Open Sans Regular', 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
}

.qas-answer {
    margin-top: 5px;
    margin-bottom: 13px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 75, 135, 1);
    color: #000000;
}

.qas-answer:hover {
    box-shadow: 0 0 0 2px rgba(0, 75, 135, 1) inset;
}

.qas-answer.selected {
    color: #FFFFFF;
    background-color: rgba(0, 75, 135, 1);
}

.qas-answer.selected > .qas-answer-example {
    color: rgb(204, 204, 204);
}

.qas-answer-text {
    display: inline-block;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.qas-answer-example {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

hr.default-option {
    border-top: 1.5px dashed #CCCCCC;
    width: 103.4%;
    margin-left: -10px;
    margin-top: 16px;
    margin-bottom: 15px;
}
