.step-content {
    width: 50%;
    word-wrap: break-word;
}

.step-heading {
    font-size: 20px;
    margin: 5px 5px 20px;
    color: #333333;
}

.step-heading-number {
    display: inline-block;    
    font-family: 'Open Sans SemiBold', 'Open Sans Regular', 'Open Sans';
    font-weight: 600;
}

.step-heading-question {
    display: inline-block;
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    font-weight: 700;
}

hr.step-divider {
    box-shadow: 0px 0.7px 0px 0px #EEEEEE;
    margin: 15px 5px 20px;
}

.step-preamble {
    margin-left: 25px;    
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
}

.qas {
    margin-left: 76px;
    margin-right: 10px;
    font-style: normal;
}

.qas-question {
    margin-top: 37px;
    margin-bottom: 20px;
    font-family: 'Open Sans SemiBold', 'Open Sans Regular', 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
}

.qas-answer {
    margin-top: 5px;
    margin-bottom: 13px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 75, 135, 1);
    color: #000000;
    cursor: pointer;
}

.qas-answer:hover {
    box-shadow: 0 0 0 2px rgba(0, 75, 135, 1) inset;
}

.qas-answer.selected {
    color: #FFFFFF;
    background-color: rgba(0, 75, 135, 1);
}

.qas-answer.selected > .qas-answer-example {
    color: rgb(204, 204, 204);
}

.qas-answer-text {
    display: inline-block;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.qas-answer-example {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

hr.default-option {
    border-top: 1.5px dashed #CCCCCC;
    width: 103.4%;
    margin-left: -10px;
    margin-top: 16px;
    margin-bottom: 15px;
}

.tabs-list-container .qas {
    width: 100%;
}

.tabs-list {
    overflow: hidden;
}

.tabs-list > .tab {
    margin-bottom: -2px;
}

.tabs-list > .tab > .tab-inner {
    padding: 2px 3px;
    width: 24px;
    border-color: #dddddd;
    border-width: 1px 1px 0 1px;
    text-align: center;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

.tabs-list > .tab.active > .tab-inner,
.tabs-list > .tab.active > .tab-inner:hover,
.tabs-list > .tab.active > .tab-inner:focus {
    background-color: rgba(0, 75, 135, 1);
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    border-width: 1px 1px 0 1px;
    border-color: #dddddd;
}

.tabs-list > .tab > .tab-inner:hover,
.tabs-list > .tab > .tab-inner:focus {
    border-color: rgba(0, 75, 135, 1);
    border-width: 1px 1px 0 1px;
    background: transparent;
    box-shadow: 0 0 0 2px rgba(0, 75, 135, 1) inset;
}

.tabs-list > .tab.disabled > .tab-inner,
.tabs-list > .tab.disabled > .tab-inner:hover,
.tabs-list > .tab.disabled > .tab-inner:focus {
    border: none;
    background: transparent;
    color: #999999;
    outline: none;
    cursor: default;
    box-shadow: none;
}

.tab-panel {
    margin-top: 30px;
}